body{
    background-color: rgb(193, 216, 213);
}
header {
    background-color: darkgreen;
    color: black;
    padding: 6vw;
    text-align: left;
}


.Automation{
    background-color: green;
    text-align: center;
    padding: 6vw;
    font-size: 8vw;
    
}

.Notifications{
    background-color: green;
    text-align: center;
    padding: 6vw;
    font-size: 8vw;
}

.SystemActivation{
    background-color: green;
    text-align: center;
    padding: 6vw;
    font-size: 8vw;
}

.Data{
    background-color: green;
    text-align: center;
    padding: 6vw;
    font-size: 8vw;
}
.btn {
    background-color: green;
    color: black;
    padding: 6vw;
    text-align: center;
    font-size: 8vw;
    width: 100%;
  }